root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{h,hpp,c,cc,cpp,cxx,inl,ixx,rc}]
indent_style = tab
tab_width = 4
indent_size = 4

[*.{sln,vcxproj,filters,props,targets}]
indent_style = space
indent_size = 2
